@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap&&effect=shadow-multiple');
body{
      margin:0;
      padding:0;
      display:flex;
      justify-content:center;
      align-items: center;
      /*min-height: 100vh;*/
      height: 100%;
      background-image: url("background.jpg"); 
      background-repeat: no-repeat;
      -o-background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      font-family: 'Poppins', sans-serif;
} 
  *{
     box-sizing: border-box;
     margin:0;
     padding:0;
     outline:none; 
} 

.app{
   
   /*height: 600px;*/
   /*position: relative;  INSERIDO 26/04/2021*/
   max-width: 700px; 
   /*display: flex;  INSERIDO 26/04/2021*/
    /*justify-content: space-between; INSERIDO 26/04/2021*/
   /*flex-wrap: wrap;  INSERIDO 26/04/2021 */
   margin: 0 auto;
   background-color: rgba(75, 241, 250, 0.3);
   padding: 10px 50px 50px 50px;
   border-radius: 50px;
   /*border: 2px solid rgba(75,241,250,1); 29-05-2021*/
   border-top: 2px solid rgba(75,241,250,1);
   border-left: 2px solid rgba(75,241,250,1);
   border: 2px solid #4BF1FA;7
   box-shadow: 5px 10px 1px #4BF1FA;   
   /*box-shadow: 0 15px 25px rgba(75,241,250,1); 29-05-2021*/
   
}

.row{
  display: grid;
  flex-wrap: wrap;
}

.app .quiz-box{
  
  flex-basis: 100%;
  max-width: 100%;
  padding:8vw;
  margin: 0;
  padding: 0;
   
  
}

.app .quiz-box h4,
.app .quiz-box h1{
  font-size: 10em; /*clamp(1.75em, 1em + 9vw, 2.5em);*/
  color:#FFFFFF;
  margin:0 0 30px; /* add 14-06-2021*/
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.app .quiz-box h1{
  
  margin: 0 0 30px; add 14-06-2021
  text-align: center; /*add 14-06-2021*/
  padding: 0;  
  font-size: clamp(2.5rem, 2.5vmin, 1.5rem); /*add 01-03-22 */
  text-transform: uppercase;
  /* font-size: clamp(2.75em, 2em + 9vw, 2.5em); */
  font-weight: bold;
  text-shadow: 0 1px 0 #fff,
               0 2px 0 #000,
               0 3px 0 #4BF1FA,
               0 4px 0 #4BF1FA,
               0 5px 0 #4BF1FA,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);    
  -webkit-animation: question 1.5s ease alternate infinite;
  animation: question 1.5s ease alternate infinite;
  background-color: #F4D03F;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width:100%;
}

@-webkit-keyframes question{
  0%{
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
  100%{
       -webkit-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes question{
   0%{
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
  100%{
        -webkit-transform: scale(1);
        transform: scale(1)

  }
}

 .app .score-card{
    flex-basis: 100%;
    max-width: 100%;
    padding:5px 10px;
    color:#FCF068;
    font-size:20px;
    font-weight: 700; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .app .option-box{
  min-height:500px;
  flex-basis: 100%;
  max-width: 100%;
  display: flex;
  padding:15px 15px;
  flex-wrap:wrap; 
  justify-content: center;
  align-content: flex-start;
}
/*CAMPO DAS IMAGENS*/
.app .option-box img{
   width: 100%;
   display: block;
}
/*BOTÕES DAS IMAGENS*/
.app .option-box button{
     background: rgba(75, 241, 250, 0.3); 
     position: relative; 
     top: 10px;
     left: 10px;
     backdrop-filter: blur(20px);
     flex-basis: calc(100% - 20px); 
     max-width:  calc(100% - 20px); 
     z-index: 1; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     color: #FCF068;
     margin:10px; 
     border:0;
     padding:0;
     border-radius:10px;
     overflow: hidden;
     cursor: pointer;
     animation: button 1s ease;  
}
@media screen and (max-width: 700px){ /* SUBTRAI 700 - 8 = 692*/
 
  .app {
  	position: relative;
    width:100%;
    flex-direction: column;
    align-items: center;
    
  }
}
/*
@media screen and (max-width: 350px){/* SUBTRAI 700 - 8 = 692*/
 /* .app {
    width:40%;
    
  }*/

/*CAMPO DAS IMAGENS, TESTAR/TESTEI ESTE BLOCO, COM OS TUTORIAIS SALVOS*/
@keyframes button{
  0%{transform: scale(0.5);opacity:0 }
  100%{transform: scale(1);opacity: 1}
}
.app .option-box button {
  position: relative;
}
.app .option-box button.errada span{
    position: absolute;
    left:0px;
    background-color: red;
    top:0px;
    font-size: 8vw;
    font-weight: bold;
    /* font-size:16px; */ 
    color: red;
    padding:5px; 
    width:100%; 
    z-index:1;
    animation: alertErrada 1s ease;   
}

@keyframes alertErrada{
  0%{transform: translateY(-100%);}
  50%{transform: translateY(100%);}
  100%{transform: translateY(0%);}
}

/*Add 10-09-2021*/
.app .option-box button.errada img{
    animation: imgErrada 1s ease;
    transition: transform 0.5d ease;

}
.app .option-box button.errada img:hover{
    transform: rotate(-10deg) scale(1.5);/* 30-10-2021 */
    cursor: zoom-in;
    
}

/*Add 10-09-2021*/
@keyframes imgErrada{
  0%,40%,70%{
       transform: translateX(0px) scale(.8); 
  }
  15%,55%{
       transform: translateX(10px) scale(.8); 
  }
  30%,80%{
       transform: translateX(-10px) scale(.8); 
  }
}
.app .option-box button.errada img{
    animation: imgErrada 1s ease;
}



.app .option-box button.correta span{
    position: absolute;
    left:0px;
    background-color: #57E964;
    top:0px;
    font-size: 8vw; 
    font-weight: bold; 
    color:#57E964;
    padding:5px; 
    width:100%; 
    z-index:1;
    animation: alertCorreta 1s ease;   
}

@keyframes alertCorreta{
  0%{transform: translateY(100%);}
  100%{transform: translateY(0%);}
}


.app .option-box button.correta img{
    animation: imgCorreta 1s ease;
    transition: transform 0.5d ease;
}

.app .option-box button.correta img:hover{
    transform: rotate(-10deg) scale(1.5);/* 30-10-2021 */
    cursor: zoom-in;
    
}
/*Add 10-09-2021*/


@keyframes imgCorreta{
  0%{
       transform: scale(1); 
  }
  50%{
       transform: scale(0.8); 
  }
  100%{
       transform: scale(1); 
  }
  
}


.app .option-box button.hide{
  animation: buttonHide 1s ease forwards;

}

@keyframes buttonHide{
  0%{
       transform: scale(1);
  }
  100%{
       transform: scale(0);
  }
}
.app .option-box h1 span{
     font-size: 10em; 
     font-weight: bold; 
     color: #FF9800;
     display: inline-block;
     padding: 10px 0px;

}
.app .option-box h1{
  margin: 0;
  padding: 0; 
  font-size: 10em; 
  font-weight: bold; 

  /*font-size:30px;
  color:#ffffff;
  margin: 0px;*/
  /*text-align: center;
  animation: quiOver 1s ease;*/
  
  filter: drop-shadow(0 0 4px #000);
  transition: 0.5s;
  animation: animate 2s linear infinite;
}

@-webkit-keyframes quizOver{
  0%{
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
  100%{
       -webkit-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes quizOver{
   0%{
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
  100%{
        -webkit-transform: scale(1);
        transform: scale(1)

  }
}

.content {}

        .content .trophy img {
            display: block;
            margin: 60px auto;
            max-width: 128px;
            /*filter: drop-shadow(0 0 2px #000);
            transition: 0.1s;
            animation: animate 1s linear infinite;*/
        }

        @keyframes animate {
            0% {
                transform: scale(1);
            }

            25% {
                transform: scale(1.1);
            }

            50% {
                transform: scale(1);
            }

            75% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1.1);
            }
        }


/*

@-webkit-keyframes quizOver{
  0%{
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
  100%{
       -webkit-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes quizOver{
   0%{
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
  }
  100%{
        -webkit-transform: scale(1);
        transform: scale(1)

  }
}


*/
 


